{% extends 'homepage/base.html'%}

{% block content%}

<h1>About</h1>

<!DOCTYPE html>
<html>
    <body>
        <br>
        <p>Thank you for using our website.</p>

        <p>Our goal is to spread awareness about the severity of COVID-19 by using a frequently updated visual representation.  
        With this, we also wish to inform the public about possible COVID-19 cases in their area. </p>

        <p>By no means should any medical advice be taken from or induced by this webpage. 
        Reliance on the website for medical guidance or use of the website in commerce is strictly prohibited. 
        We hereby disclaim any and all representations and warranties with respect to the website, including accuracy, fitness for use, and merchantability.</p>
        <p>This project was completed for the 2020 series of COVID-19 hackathons and was created by developers Boone Purnell, Justin Nguyen, and Trevor Rizzi.  Our Github repository can be found <A HREF="https://github.com/justnguyen1/COVID19Track">here.  </A> If you have any questions, please reach us at jahware.co@gmail.com</p>

        <br>
        <br>

        <p>Source:<A HREF="https://github.com/rizzi-trevor/Track-COVID19"> 2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE</A> </p>

    </body>
</html>

{% endblock content %}
